#algorithmDescriptor {
  text-align: center;
  color: #34495e;
  padding: 15px 25px 15px 25px;
}
#mainText > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 30px 0 0;
}
#startButtonStart {
  padding-left: 20px;
  padding-right: 20px;
}
#mainGrid{
  position: absolute;
  z-index: 1;
}
.navbar {
  font-size: 16px;
  min-height: 53px;
  margin-bottom: 30px;
  border: none;
  border-radius: 0px;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-brand {
  font-size: 20px;
  line-height: 1.042;
  height: 70px;
  font-weight: 700;
  padding: 14px 23px;
}
.container-fluid
{
  padding-left: 21px;
  padding-right: 21px;
}
.navbar-nav li a{
  color: rgb(255,255,254);
  margin-left: 10px;
  margin-right:10px;
  margin:20px;
  font-weight: 400;
  }
  .dropdown-menu{
    background-color:#343a40;
  }
  .dropdown-item:active{
  background-color: rgb(0,0,0);
}
.btn{
  color:black;
}
.dropdown-menu a:hover{
 background: #343a40 !important;
 text-decoration: none;  
}